$buttonColor: #003333;
$columnColor: #66CCCC;
$columnHeader: #51a3a3;
$backgroundColor: #99CCCC;
$maxWidth: 1400px;
$bigIndent: 10px;
$smallIndent: 5px;


@mixin itemShape ($padding: $smallIndent, $margin: $smallIndent) {
    border: none;
    border-radius: $smallIndent;
    padding: $padding;
    margin: $margin;
}

@mixin buttonText ($textColor:  $backgroundColor ){
    text-transform: uppercase;
    font-weight: bold;
    color: $textColor;
}

@mixin textareaStyle (){
    width: 250px;
    min-height: 35px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@mixin cardInput {
    @include itemShape(15px, $smallIndent);
    @include textareaStyle;
    color: $buttonColor;
    outline: none;
    resize: none;
    overflow: hidden;   
}

@mixin innerButton {
    background-color: $backgroundColor;
    color: $columnHeader;
    border: none;
    outline: none;
    height: 20px;
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

@mixin loaderInner {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $backgroundColor;
    max-width: $maxWidth;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.button{
    @include itemShape($smallIndent, $bigIndent);
    @include buttonText();
    height: 25px;
    background-color: $buttonColor;
    outline: none;
   
    &:hover{
        cursor: pointer;
        transform: scale(1.1);

    }
}

.column{
    @include itemShape(0px, $bigIndent);
    width: 300px;
    background-color: $columnColor;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
}

.column--header {
    border-radius: $smallIndent $smallIndent 0px 0px;
    padding: $bigIndent;
    background-color: $columnHeader;
    display: flex;
    justify-content: space-between;

    input{
        @include buttonText($backgroundColor);
        background-color: $columnHeader;
        border: none;
        outline: none;
        width: 85%;
    } 
}

.column--bottom {
    padding: $bigIndent;
}

.column--cards {
    min-height: 100px;
    transition: transform 2s ease-in-out;
}

.add_column_button {
   margin-right: 155px;
   &:active{
    animation: show 250ms ease-in-out;
   }
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5px;
    transition: transform 250ms ease-in-out;

      button {
            visibility: hidden;
        }

    &-isMove {
        &:hover {
            transform: translate(-5px, 5px);

        textarea {
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          cursor: move;
  
        }
      }
    }
    
  
    &-isActive {
        button {
             visibility: visible;

        }
        textarea {
            cursor: pointer;
        }
    }

    &-isEdit { 

        z-index: 10;
        transform: scale(1.1);   
                                 
        textarea {
            background-color: $columnHeader;
            cursor: text;
            border: 2px solid $columnColor;
        }

        button {
            color: $backgroundColor;
            background-color: $columnHeader;
        }
    }
}


.card--input {
    @include cardInput;
    background-color: $backgroundColor;
}

.card--input-div{
    @include itemShape(15px, $smallIndent);
    @include textareaStyle;
    visibility: hidden;               
    position: absolute;

}

.card--delete_button { 
    @include innerButton;
    position: absolute;
    top: 5px;
    right: 15px;

   
}

.card--edit_button {
    @include innerButton;
    position: absolute;
    bottom: 5px;
    right: 15px;
}

.deleteItem {
    display: none;
}

.hold {
opacity: 0.5;
}

input.inputIsActive {
    color: $buttonColor;
    background-color: $backgroundColor;
    border-radius: 5px;

}

.column--header input {
    padding-left: 10px
}



@media only screen and (max-width: 639px) {
    body {
      align-content: center;
      flex-direction: column;
    }
  }

  .active {
     border: 3px dashed $columnHeader;
     border-radius: 5px;
     background-color: $columnColor;
     transform: scale(1.1, 1.2);
}

  .show {
  animation: show 250ms ease-in-out;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;     
    }

    100% {
        opacity: 1;
    }
  }

  .loader_box{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: $backgroundColor;

  }

  .loader{
      height: 100px;
      width: 100px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .loader--blockToRight{
    @include loaderInner();
    opacity: 0.8;
    box-shadow: inset 0 10px 0 $buttonColor, inset 10px 0 0 $columnHeader, inset 0 -10px 0 $buttonColor, inset -10px 0 0 $columnHeader;
    animation: rotateToRight 3s linear infinite;
  }

  .loader--blockToLeft{
    @include loaderInner();
    opacity: 0.5;
    box-shadow: inset 0 10px 0 $columnHeader, inset 10px 0 0 $buttonColor, inset 0 -10px 0 $columnHeader, inset -10px 0 0 $columnColor;
    animation: rotateToLeft 3s linear infinite;
  }

  .hide_loader{
      display: none;
  }
  
@keyframes rotateToRight {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1)}
    50% {transform: rotateZ(180deg) scaleX(0.75) scaleY(0.65) }
    100% {transform: rotateZ(360deg) scaleX(1) scaleY(1)}
}

@keyframes rotateToLeft {
    0% {transform: rotateZ(0deg) scaleX(1) scaleY(1) }
    50% {transform: rotateZ(-180deg) scaleX(0.65) scaleY(0.75)}
    100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1) }
}